{% if product.available %}
<button type="submit" class="btn add-to-cart ajax-spin-cart" id="AddToCart">
  <span class="cart-title" id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
  <span class="cart-loading load-anim"><i class="ri-loader-4-line"></i></span>
  <span class="cart-added"><i class="ri-check-line"></i></span>
  <span class="cart-unavailable">{{ 'products.product.sold_out' | t }}</span>
</button>
{% else %}
<button class="btn add-to-cart disabled" disabled="disabled">
  <span class="cart-text">{{ 'products.product.sold_out' | t }}</span>
</button>
{% endif %}
<script type="text/javascript">
window.addEventListener("DOMContentLoaded", function() {
  
    $('.ajax-spin-cart').on("click", function(e){
      e.preventDefault();
      Shopify.addItemFromForm('add-item-form');
    });
  
});   
  
</script>
<style>
  .product-actions button.add-to-cart{
    position: relative;
    color: {{ settings.btn2_hvr_color }};
    font-size: {{ settings.btn2_font_size }}px;
    padding: {{ settings.btn2_padding_top_bottom }}px {{ settings.btn2_padding_left_right }}px;
    background: -webkit-linear-gradient(0deg,{{ settings.btn2_gradient_color_1 }} 0,{{ settings.btn2_gradient_color_2 }} 100%);
    text-transform: {{ settings.btn2_text_transform }};
    font-weight: {{ settings.btn2_font_weight }};
    border: {{ settings.btn2_border }}px {{ settings.btn2_border_property }} {{ settings.btn2_border_color | color_modify: 'alpha', settings.btn3_border_color_opacity }};
    border-radius: {{ settings.btn2_border_radius }}px;
    letter-spacing: {{ settings.btn2_letter_spacing }}px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    width: 100%;
  }
  .product-actions button.add-to-cart:hover{
    color: {{ settings.btn2_hvr_color }};
    -webkit-background-clip: {{ settings.btn2_hvr_color }};
    -webkit-text-fill-color: {{ settings.btn2_hvr_color }};
    background: -webkit-linear-gradient(0deg,{{ settings.btn2_gradient_color_1_hover }} 0,{{ settings.btn2_gradient_color_2_hover }} 100%);
    border: {{ settings.btn2_border }}px {{ settings.btn2_border_property }} {{ settings.btn2_border_hvr_color | color_modify: 'alpha', settings.btn2_border_hvr_color_opacity }};
  }
  .product-actions button.add-to-cart.btn[disabled],
  .product-actions button.add-to-cart.btn.disabled{
    color: #eaeaea;
    background-color: #ababab;
    opacity: .65;
    pointer-events: none;
  }
  @media(max-width: 767px){
    .product-actions button.add-to-cart{
      margin-top: 15px;
    }
  }
</style>